* {
    box-sizing: border-box;
}

.container {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 16px;
}

.header-container,
.tools {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 52px;
    padding-right: 52px;
}

.spacer {
    flex: 1;
}

.header {
    flex: 1;
    text-align: center;
}

.resize-btn-container {
    flex: 1;
    text-align: center;
}

#grid {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
    flex: 1;
}

.square-container {
    position: relative;
    flex: 1;
    border: 1px solid #AAAAAA;
}

.darken-square {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.square {
    width: 100%;
    height: 100%;
}