@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playwrite+NO:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2F4F4F;
}

.container {
    background-color: #8B0000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 800px;
    margin: 0 auto;
    margin-top: 24px;
    border-radius: 20px;
    box-shadow: 8px 4px 4px #000000, 8px 8px 4px rgba(255, 255, 255, 0.5) inset, -12px -12px 4px rgba(0, 0, 0, 0.2) inset;
}

.header-container,
.tools {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.header-container {
    padding: 12px 0px;
}

.tools {
    justify-content: space-between;
    padding: 16px;
}

.spacer {
    flex: 1;
}

.header {
    flex: 1;
    text-align: center;
    align-items: center;
    font-size: 32px;
    font-family: "Playwrite NO", cursive, sans-serif;
}

.resize-btn-container {
    flex: 1;
    text-align: center;
}

#grid {
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 650px;
    border: 8px solid #6E0000;
    border-radius: 8px;
}

.row {
    display: flex;
    flex: 1;
}

.square-container {
    position: relative;
    flex: 1;
}

.darken-square {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
}

.colour-square {
    width: 100%;
    height: 100%;
}

.grid-lines {
    border: 1px solid #C1C1C1;
}

.dial {
    width: 65px;
    height: 65px;
    background-color: #F0F0F0;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.5)
}

#colour {
    background-color: #DBDBDB;
    border: none;
    padding: 2px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); 
}

#colour::-webkit-color-swatch-wrapper {
    padding: 0;
}

#colour::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

#colour::-moz-color-swatch {
    border: none;
    border-radius: 50%;
}

.button {
    background-color: #F1E05A;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    min-width: 75px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35); 
}

.button:hover {
    background-color: #D6C651;
}

.button:disabled {
    color: #3F3F3F;
    background-color: #BAAA46;
}

.button:active {
    background-color: #BAAA46;
}